/*------------->> Mobile Device Responsive<<------------- */

@media (max-width: 600px) {
  /*----------------- Header Section start-------------- */
  .heading{
    font-size: 32px;
    font-weight: 700;
  }

  header {
    padding: 0px 25px;
  }

  .nav-list {
    display: none;
  }

  .nav-icon {
    display: block;
  }

  /* -----------------Explore Section------------- */
  main {
    padding: 0px 25px;
  }

  .explore-container-text {
    padding: 20px 0px;
  }

  .explore-container-text h1 {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 8px;
  }

  .explore-container-text p {
    width: 80%;
    margin: auto;
    font-size: 14px;
    line-height: 1.5;
  }

  .explore-form {
    /* display: flex; */
    flex-direction: column;
    margin: 0px 50px;
    border-radius: 8px;
    gap: 10px;
  }

  .explore-form div {
    width: 100%;
    margin-bottom: 12px;
  }

  .explore-form input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .explore-input-btn {
    padding: 8px;
  }

  .explore-input-btn i {
    margin-right: 8px;
  }

  /*-------------------- Popular Tour Section-------------- */

  .popular-tour-container {
    flex-direction: column;
    margin-top: 50px;
  }

  .tour-text {
    width: 100%;
    margin-bottom: 10px;
  }

  .tour-list-items {
    margin-left: 20px;
  }

  .tour-img {
    width: 100%;
    margin: auto;
  }

  .tour-img img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
  }

  /* ------------------Destination Section---------------------- */

  .malives-indonesia,
  .srilanka-america-kashmir,
  .bangladesh-bandarban {
    flex-direction: column;
    height: 500px;
  }

  .maldives,
  .indonesia,
  .srilanka,
  .america,
  .kashmir,
  .bangladesh,
  .bandarban {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 100%;
    width: 100%;
    padding: 0;
    margin-top: 10px;
  }

  /* ------------------Choose Us Section---------------------- */
  .choose-row-one {
    flex-direction: column;
    width: 100%;
  }

  .card {
    padding: 32px;
  }

  .choose-row-two {
    width: auto;
    margin: 0px 25px;
  }

  /* ------------Deal Section------------ */
  .deal-text-para {
    margin: 0px 0px;
  }

  .deal-card-container-one,
  .deal-card-container-two,
  .deal-card-container-three {
    /* justify-content: center; */
    height: 600px;
    /* align-items: center; */
    border-radius: 8px;
    margin-top: 40px;
  }

  .deal-card-one {
    margin-top: 40px;
    padding: 50px;
    margin: 20px 40px;
    width: 579px;
    height: 450px;
    margin-top: 70px;
  }

  .card-glance {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    /* justify-content: center; */
    /* align-content: center; */
  }
  
  .card-glance div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;
  }

  .card-info-title{
    font-size: 16px;
  }

  /* ------------Perfect Place Section------------ */

  .place-container {
    flex-direction: column;
  }

  .place-text {
    width: 100%;
    margin: auto;
  }

  .place-video {
    width: 100%;
  }

  .place-video video {
    width: 100%;
    height: auto;
  }

  /* ------------Newsletter Section------------ */
  .newsletter-container {
    flex-direction: column;
    align-items: center;
  }

  .newsletter-form {
    flex: 100%;
    padding: 20px;
  }

  .newsletter-img {
    flex: 100%;
    align-items: center;
    margin-top: 30px;
  }

  .newsletter-img img {
    height: 250px;
    width: auto;
  }

  .input-one {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .subscribe-btn {
    margin-top: 20px;
    padding: 12px 16px;
  }

  .discount {
    bottom: 115px;
    left: 120px;
  }

  .footer-container {
    padding: 70px 0px;
  }

  /* ---------Testimonial--------- */
  .testimonial-cards {
    flex-direction: column;
    gap: 65px;
  }
}

/*------------->> Tablet Device Responsive<<---------------- */

@media (min-width: 601px) and (max-width: 992px) {
  header {
    padding: 0px 20px;
  }

  /* -----------------Explore Section------------- */

  main {
    padding: 0px 20px;
  }

  .explore-container-text {
    padding: 20px 0px;
  }

  .explore-container-text h1 {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 8px;
  }

  .explore-container-text p {
    width: 80%;
    margin: auto;
    font-size: 14px;
    line-height: 1.5;
  }

  .explore-form {
    display: flex;
    flex-direction: column;
    margin: 0px 100px;
    border-radius: 8px;
    gap: 10px;
  }

  .explore-form div {
    width: 100%;
    margin-bottom: 12px;
  }

  .explore-form input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
  }

  .explore-input-btn {
    padding: 8px;
  }

  .explore-input-btn i {
    margin-right: 8px;
  }

  /*-------------------- Popular Tour Section-------------- */

  .popular-tour-container {
    flex-direction: column;
    margin-top: 50px;
  }

  .tour-text {
    width: 100%;
    margin-bottom: 10px;
  }

  .tour-list-items {
    margin-left: 20px;
  }

  .tour-img {
    width: 100%;
    margin: auto;
  }

  .tour-img img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
  }

  /* ------------Perfect Place Section------------ */

  .place-container {
    flex-direction: column;
  }

  .place-text {
    width: 100%;
    margin: auto;
  }

  .place-video {
    width: 100%;
  }

  .place-video video {
    width: 100%;
    height: auto;
  }

  /* ------------Newsletter Section------------ */

  .newsletter-container {
    flex-direction: column;
    align-items: center;
  }

  .newsletter-form {
    flex: 100%;
    padding: 20px;
  }

  .newsletter-img {
    flex: 100%;
    align-items: center;
    margin-top: 30px;
  }

  .newsletter-img img {
    height: 250px;
    width: auto;
  }

  .input-one {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .subscribe-btn {
    margin-top: 20px;
    padding: 12px 16px;
  }

  .discount {
    bottom: 115px;
    left: 120px;
  }
}
