@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange-color: #ff5400;
  --black-color: #131318;
  --white-color: #fff;
  --dark-rgb: rgba(19, 19, 24, 0.7);
}

body {
  font-family: "Mulish", sans-serif;
}

.hidden {
  display: none;
}

.shared-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--orange-color);
  padding: 10px 28px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  color: var(--white-color);
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 500;
}

.heading {
  font-size: 40px;
  font-weight: 800;
}

.heading:hover{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  font-size: 40px;
  font-weight: 800;
  cursor: pointer;
  background-clip: text;
  color: transparent;
  transition: color 0.3s ease-in-out;
}

button:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

/*----------------- Header Section start-------------- */

header {
  max-width: 1280px;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 700;
  gap: 10px;
}

.logo-span {
  color: var(--orange-color);
}

.nav-list {
  display: flex;
  gap: 30px;
}

.nav-list li:nth-child(1) > a {
  color: var(--orange-color);
}

.nav-list li {
  list-style: none;
}



.nav-list li a {
  text-decoration: none;
  color: #223344;
  font-weight: 600;
}

.nav-list li a:hover {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  font-weight: 500;
  cursor: pointer;
  background-clip: text;
  color: transparent;
  transition: color 0.3s ease-in-out;
}

.nav-icon {
  display: none;
}

/* -----------------Explore Section------------- */

main {
  max-width: 1280px;
  margin: auto;
}

.explore-container {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(../Images/Group-13.png);
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
}

.explore-container-text {
  color: var(--white-color);
  text-align: center;
  padding: 100px 0px;
}

.explore-container-text h1 {
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  padding: 20px 0px;
}

.explore-container-text p {
  padding: 25px 0px;
  margin-bottom: 20px;
}

.explore-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 14px;
  margin: 0px 180px;
  border-radius: 8px;
  gap: 20px;
  background: rgba(255, 255, 255, 0.3);
}

.explore-container-text input {
  border-radius: 8px;
  padding: 16px 30px;
  border: none;
}

.down-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-icon {
  position: relative;
  right: 40px;
  /* left: 200px;
  top: 200px;
  bottom: 0px; */

  
  color: var(--dark-rgb);
}

.explore-input-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--orange-color);
  padding: 16px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.explore-input-btn i {
  margin-right: 10px;
}

/*-------------------- Popular Tour Section-------------- */

.popular-tour-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  gap: 40px;
}

.tour-text {
  width: 50%;
  margin-bottom: 30px;
}

.tour-text div {
  margin-top: 20px;
}

.tour-text p {
  line-height: 40px;
}

.tour-list-items {
  margin-left: 28px;
}

.tour-img {
  width: 50%;
}

.tour-img img {
  height: 550px;
  width: auto;
}

/* ------------------Destination Section---------------------- */

.destination-container {
  margin-top: 100px;
}
.destination-text {
  text-align: center;
}

.destination-text p {
  margin: 30px 0px;
}

.destination-img {
  text-align: center;
  color: var(--white-color);
  font-size: 20px;
  font-weight: 200;
}

.malives-indonesia,
.srilanka-america-kashmir,
.bangladesh-bandarban {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 300px;
}

.maldives,
.indonesia,
.srilanka,
.america,
.kashmir,
.bangladesh,
.bandarban {
  margin: 0px 10px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 130px 0px;
  width: 480px;
  border-radius: 16px;
  object-fit: cover;
}

.maldives {
  background-image: url(../Images/Rectangle-5.png);
  flex: 50%;
}
.indonesia {
  background-image: url(../Images/Rectangle-8.png);
  flex: 50%;
}

.srilanka {
  background-image: url(../Images/Rectangle-6.png);
  flex: 30%;
}
.america {
  background-image: url(../Images/Rectangle-7.png);
  flex: 40%;
}
.kashmir {
  background-image: url(../Images/Rectangle-9.png);
  flex: 30%;
}
.bangladesh {
  background-image: url(../Images/Rectangle-11.png);
  flex: 40%;
}
.bandarban {
  background-image: url(../Images/Rectangle-10.png);
  flex: 60%;
}

/* -----------------Choose Us Section--------------- */

.choose-us-container {
  margin-top: 100px;
}

.choose-us-text {
  text-align: center;
}

.choose-us-text p {
  margin: 30px 0px;
}

.choose-us-cards img {
  width: 64px;
  height: 64px;
}

.card {
  padding: 32px;
}

.choose-us-cards h5 {
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0px;
}

.choose-row-one {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.choose-card-one {
  background-color: rgba(251, 181, 99, 0.05);
  border: 1px solid rgba(251, 181, 99, 0.2);
  border-radius: 16px;
  padding: 20px;
}

.choose-card-one img {
  margin-top: 30px;
}

.choose-card-two {
  background-color: rgba(41, 206, 246, 0.05);
  border: 1px solid rgba(41, 206, 246, 0.2);
  border-radius: 16px;
  margin-top: 8px;
}

.choose-row-two {
  margin-top: 30px;
  width: 50%;
  margin: auto;
}

.choose-card-three {
  background-color: rgba(233, 68, 68, 0.05);
  border: 1px solid rgba(233, 68, 68, 0.2);
  border-radius: 16px;
}

/* ------------Deal Section------------ */

.deal-container {
  margin-top: 100px;
}

.deal-text {
  text-align: center;
}

.deal-text-para {
  margin: 30px 0px;
  padding: 10px 0px;
}

.deal-card-container-one {
  background-image: url(../Images/Group-39.png);
  justify-content: end;
}
.deal-card-container-two {
  background-image: url(../Images/Group-40.png);
  justify-content: start;
}
.deal-card-container-three {
  background-image: url(../Images/Group-39.png);
  justify-content: end;
}

.deal-card-container-one,
.deal-card-container-two,
.deal-card-container-three {
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin-top: 20px;
}

.deal-card-one {
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  padding: 50px;
  margin: 20px 40px;
  width: 579px;
  height: 300px;
}

.card-glance {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-glance i{
  color: var(--orange-color);
}

.card-glance div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}

.card-info-title {
  font-size: 20px;
  font-weight: 800;
}

.card-info-para {
  margin: 15px 0px;
}

.price {
  margin-bottom: 15px;
  color: var(--orange-color);
}

.package-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.package-btn {
  padding: 15px;
}

/* ------------Perfect Place Section------------ */

.place-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  gap: 40px;
}

.place-text {
  width: 50%;
  margin-bottom: 30px;
}

.place-text div {
  margin-top: 20px;
}

.place-text p {
  line-height: 40px;
}

.place-list-items {
  margin-left: 28px;
}

.place-list-items li {
  margin-bottom: 18px;
}

.place-video {
  width: 50%;
  margin: auto;
}

/* ------------Testimonials Section------------ */

.testimonial-container {
  margin-top: 100px;
}
.testimonial-text {
  text-align: center;
}

.card-title {
  font-size: 20px;
  font-weight: 700;
  margin-top: -30px;
  /* margin-bottom: 40px; */
}

.testimonial-text-para {
  margin: 60px 0px;
}

.testimonial-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.testimonial-card-one {
  background-image: radial-gradient(
    circle 369px at -2.9% 12.9%,
    rgba(247, 234, 163, 1) 0%,
    rgba(236, 180, 238, 0.56) 46.4%,
    rgba(163, 203, 247, 1) 100.7%
  );
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.testimonial-card-two {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(176, 229, 208, 1) 42%,
    rgba(92, 202, 238, 0.41) 93.6%
  );
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.testimonial-card-three {
  background-image: radial-gradient(
    circle farthest-corner at 1.5% 1.4%,
    rgba(159, 227, 255, 1) 0%,
    rgba(255, 177, 219, 1) 100.2%
  );
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.review-card:hover {
  transform: perspective(1000px) rotateY(10deg) rotateX(5deg) scale(1.1);
  filter: brightness(110%) saturate(130%);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1),
    0 0 40px rgba(255, 255, 255, 0.5);
  border: 3px solid transparent;
}

.testimonial-para {
  width: 75%;
  margin: auto;
  margin-bottom: 20px;
}

.people-one img {
  position: relative;
  bottom: 60px;
  margin-top: 30px;
  height: 200px;
  width: 200px;
  border-radius: 30%;
}

.rating img {
  height: 60px;
  width: 60px;
}

/* ------------Newsletter Section------------ */

.newsletter-container {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.newsletter-form {
  flex: 40%;
  padding: 30px 40px;
  border-radius: 16px;
  border: 1px solid #ff5400;
}

.newsletter-form h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.newsletter-form p {
  margin-top: 15px;
  margin-bottom: 25px;
}

.newsletter-img {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
  flex: 60%;
  /* width: 100%; */
}

.newsletter-img img {
  background-size: contain;
  height: 450px;
  width: auto;
}

.input-and-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.input-and-btn input[type="text"] {
  padding: 16px 20px;
  border: none;
  background-color: rgba(19, 19, 24, 0.05);
  width: 100%;
}

.input-one {
  margin-top: 40px;
  margin-bottom: 30px;
}

.subscribe-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--orange-color);
  margin-top: 35px;
  padding: 16px 30px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  color: var(--white-color);
  letter-spacing: 2px;
  font-size: 16px;
}

.discount {
  background-color: var(--orange-color);
  /* margin-top: 35px; */
  padding: 16px 30px;
  border-radius: 5px;
  border: none;
  color: var(--white-color);
  position: relative;
  transform: rotate(-45deg);
  bottom: 120px;
}

/* ------------>> Footer <<----------- */

.footer-body-container {
  background: rgba(19, 19, 24, 0.05);
}

.footer-container {
  max-width: 1280px;
  margin: auto;
  text-align: center;
  padding: 70px 0;
  margin-top: 100px;
}

.footer-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
  gap: 10px;
}

.footer-para p {
  margin: 25px 0;
}

.social-icon {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 25px 0 35px 25px;
}

.copywrite {
  margin: 50px 0 0 0;
}
