@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange-color: #ff5400;
  --black-color: #131318;
  --white-color: #fff;
  --dark-rgb: rgba(19, 19, 24, 0.7);
}

body {
  font-family: "Mulish", sans-serif;
}

.hidden {
  display: none;
}

.shared-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--orange-color);
  padding: 16px 30px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  color: var(--white-color);
  letter-spacing: 2px;
  font-size: 16px;
}

.heading {
  font-size: 40px;
  font-weight: 800;
}

/*----------------- Header Section start-------------- */

header {
  max-width: 1280px;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.logo-container {
  display: flex;
  font-size: 30px;
  font-weight: 800;
}

.logo-span {
  color: var(--orange-color);
}

.nav-list {
  display: flex;
  gap: 30px;
}

.nav-list li:nth-child(1) > a {
  color: var(--orange-color);
}

.nav-list li {
  list-style: none;
}

.nav-list li a {
  text-decoration: none;
  color: #223344;
}

.nav-icon {
  display: none;
}

/* -----------------Explore Section------------- */

main {
  max-width: 1280px;
  margin: auto;
}

.explore-container {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(../Images/Group-13.png);
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
}

.explore-container-text {
  color: var(--white-color);
  text-align: center;
  padding: 100px 0px;
}

.explore-container-text h1 {
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  padding: 20px 0px;
}

.explore-container-text p {
  padding: 20px 0px;
}

.explore-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 14px;
  margin: 0px 180px;
  border-radius: 8px;
  gap: 20px;
  background: rgba(255, 255, 255, 0.3);
}

.explore-container-text input {
  border-radius: 8px;
  padding: 16px 30px;
  border: none;
}

.explore-input-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--orange-color);
  padding: 16px 30px;
  border-radius: 8px;
  cursor: pointer;
}

.explore-input-btn i {
  margin-right: 10px;
}

/*-------------------- Popular Tour Section-------------- */

.popular-tour-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  gap: 40px;
}

.tour-text {
  width: 50%;
  margin-bottom: 30px;
}

.tour-text div {
  margin-top: 20px;
}

.tour-text p {
  line-height: 40px;
}

.tour-list-items {
  margin-left: 28px;
}

.tour-img {
  width: 50%;
}

.tour-img img {
  height: 550px;
  width: auto;
}

/* ------------------Destination Section---------------------- */

.destination-container {
  margin-top: 100px;
}
.destination-text {
  text-align: center;
}

.destination-text p {
  margin: 30px 0px;
}

.destination-img {
  text-align: center;
  color: var(--white-color);
  font-size: 20px;
  font-weight: 200;
}

.malives-indonesia,
.srilanka-america-kashmir,
.bangladesh-bandarban {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 300px;
}

.maldives,
.indonesia,
.srilanka,
.america,
.kashmir,
.bangladesh,
.bandarban {
  margin: 0px 10px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 130px 0px;
  width: 480px;
  border-radius: 16px;
  object-fit: cover;
}

.maldives {
  background-image: url(../Images/Rectangle-5.png);
  flex: 50%;
}
.indonesia {
  background-image: url(../Images/Rectangle-8.png);
  flex: 50%;
}

.srilanka {
  background-image: url(../Images/Rectangle-6.png);
  flex: 30%;
}
.america {
  background-image: url(../Images/Rectangle-7.png);
  flex: 40%;
}
.kashmir {
  background-image: url(../Images/Rectangle-9.png);
  flex: 30%;
}
.bangladesh {
  background-image: url(../Images/Rectangle-11.png);
  flex: 40%;
}
.bandarban {
  background-image: url(../Images/Rectangle-10.png);
  flex: 60%;
}

/* -----------------Choose Us Section--------------- */

.choose-us-container {
  margin-top: 100px;
}

.choose-us-text {
  text-align: center;
}

.choose-us-text p {
  margin: 30px 0px;
}

.choose-us-cards img {
  width: 64px;
  height: 64px;
}

.card {
  padding: 32px;
}

.choose-us-cards h5 {
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0px;
}

.choose-row-one {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.choose-card-one {
  background-color: rgba(251, 181, 99, 0.05);
  border-radius: 16px;
  padding: 20px;
}

.choose-card-one img {
  margin-top: 30px;
}

.choose-card-two {
  background-color: rgba(41, 206, 246, 0.05);
  border-radius: 16px;
}

.choose-row-two {
  margin-top: 30px;
  width: 50%;
  margin: auto;
}

.choose-card-three {
  background-color: rgba(233, 68, 68, 0.05);
  border-radius: 16px;
}
